@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-uniquifier {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
*{
  margin: 0;padding: 0;
}
/* sheard link */
.display-flex{
  display: flex;
}
.bg{
  background-color: rgba(255, 246, 14, 0.1);
}

/* nav bar */
.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
.navbar{
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.brand-title{
  font-weight: 700;
  font-size: 3rem;
}
.links{
  list-style: none;
}
.link{
  text-decoration: none;
  margin-right: 30px;
  color: rgba(66, 66, 66, 1);
  font-weight: medium;
  font-size: 18px;
}
/* banner style */
.banner-titles{
  max-width: 850px;
  text-align: center;
 margin: 0 auto;
 margin-bottom: 50px;
}
 .banner-title{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
 }
 .banner-detail{
  color: rgba(114, 114, 114, 1);
  font-size: 1rem;
  margin-top: 32px;
 }
 .btn-primary{
  width: 180px;
  height: 64px;
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  margin-top: 32px;
 }
 .banner-img{
  width: 100%;
 }
 main{
  max-width: 1440px;
  margin: 0 auto;
 }
 /* first section style */
 section{
  margin-top: 130px;
 }

 .features-container{
  align-items: center;
 }
 .features-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
 }
 .features-details{
  margin-left: 75px;
  max-width: 535px;
 }
 .features-title{
  font-size: 3rem;
  font-weight: mixed;
  margin-bottom: 24px;
 }
 #Quick-list{
  color:#727272 ;
  
 }
 #Features{
  color: #FF900E;
 }
 .feature-detail{
  font-size: 16px;
  color: #727272;
 }
 .features-img img{
  max-width: 345px;
  max-height: 345px;
  border-radius: 8px;
 }
 /* facts */
 .fact-title{
  font-weight: bold;
  font-size: 45px;
 }
 .fact-detail{
  font-size: 16px;
  color: #727272;
 max-width: 545px;
  margin-top: 24px;
  margin-bottom: 200px;
 }
 .icon-detail{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
 }
 .icon{
   border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:124px;
 }
 .icon img{
  width: 46px;
  height: 46px;
 }
 .icon-num{
  font-size: 45px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
 }
 .icon-name{
  font-weight: 600;
  font-size: 20px;
  color: #727272;
 }
 /* sponsor style */
 .sponsor-info{
  max-width: 540px;
  justify-content: center;
  margin: 50px auto;
  text-align: center;
 }
 .sponsor-h{
  font-size: 45px;
  font-weight: bold;
  color: rgba(19, 19, 19, 1);
  margin-bottom: 24px;
 }
 .sponsor-detail{
  color: rgba(114, 114, 114, 1);
 }
 .sponsor-img{
  display: grid;
  grid-template-columns: repeat(5,1fr);
 }
 .sponsor-img img{
  filter: grayscale(100%);
 }
 /* feature style */
 .feature{
  display: flex;
  gap: 140px;
 }
 .feature-title{
  font-size: 45px;
  font-weight: bold;
  color: rgba(19, 19, 19, 1);
  border-left: 20px solid #FF900E;
  padding-left: 20px;
  border-width: 5px;
  margin-bottom: 24px;
  max-width: 460px;
 }
 .feature-detail{
  color: rgba(114, 114, 114, 1);
  max-width: 580px;
  margin-bottom: 30px;
 }
 .card{
  max-width: 580px;
  margin-bottom: 20px;
  max-height: 170px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
  padding: 30px 40px;
 }
.feature-img img{
  max-width: 700px;
  max-height: 980px;
  width: 100%;
}
 .card-h{
  font-size: 20px;
  font-weight: 600;
  color:rgba(19, 19, 19, 1) ;
  margin-bottom: 10px;
 }
 .card-detail{
  color: rgba(114, 114, 114, 1);
 }
.btn{
  max-width: 340px;
  max-height: 200px;
  border-radius: 8px;
  background-color: #FF900E;
  border: none;
  padding: 45px 42px;
  color: #FFFFFF;
  margin-top: -100px;
  margin-left: -100px;
}
 #button{
  font-size: 65px;
  font-weight: bold;
 }
 span{
  font-size: 25px;
  font-weight: 16px;
 }
 /* resposive */
 @media screen and (max-width:576px) {
   .navbar ,
   .links,
   .feature,
   .features-container{
    flex-direction: column;
  
  }
  .features-img,
  .icon-detail,
  .sponsor-img{
    grid-template-columns: repeat(1,1fr);
  }
  .icon-detail{
    justify-items: center;
    gap: 24px;
  }
  .sponsor-img{
    justify-items: center;
    gap: 50px;
  }
  .fact-detail{
    margin-bottom: 50px;
  }
  .features-details{
    margin-left: 20px;
  }

   .btn{
    margin-top: 20px;
    margin-left: 20px;
  }

 }
 /* medium responsive */
 @media screen and (min-width:576px) and (max-width:992px){

  .features-container{
    flex-direction: column;
  }
  .features-details{
    margin: 40px auto;
  }
  .icon-detail,
  .sponsor-img{
    grid-template-columns: repeat(2,1fr);
  }
  .sponsor-img{
    gap:50px;
  }
  .icon{
   margin-top: 10px;
  }
 
 }